/* Déclaration des variables de couleurs */
:root {
    --void-color: #B283CC;
    --solar-color: #F16F27;
    --arc-color: #7AECF3;
    --stasis-color: #4D87FF;
    --strand-color: #35E366;
    --primary-color: #FFFFFF;
    --special-color: #7AF48B;
    --heavy-color: #B286FF;
    --exotic-label-color: #B09C4F;
    --legendary-label-color: #644D71;
    --mod-fg-color: #0AF3F3;
}

/* Police personnalisée */
@font-face {
    font-family: 'Destiny2Class-ammo';
    src: url('../fonts/Destiny2Class-ammo.ttf') format('truetype');
}

@font-face {
    font-family: 'Destiny2Symbols';
    src: url('../fonts/destiny_symbols_common.otf') format('truetype');
}

/* Classe Primary */
.primary::before {
    font-family: 'Destiny2Class-ammo', sans-serif;
    content: '\0045'; /* Icône primaire */
    color: var(--primary-color);
}

/* Classe Special */
.special::before {
    font-family: 'Destiny2Class-ammo', sans-serif;
    content: '\0044'; /* Icône spéciale */
    color: var(--special-color);
}

/* Classe Heavy */
.heavy::before {
    font-family: 'Destiny2Class-ammo', sans-serif;
    content: '\0046';
    color: var(--heavy-color);
}

/* Classe Void (icône Void) */
.void::before {
    content: ''; /* Icône void */
    font-family: 'Destiny2Symbols', sans-serif;
    color: var(--void-color);
}

/* Classe PVE */
.pve::before {
    font-family: 'Destiny2Class-ammo', sans-serif;
    content: "🎮";
    color: blue;
}

/* Classe PVP */
.pvp::before {
    font-family: 'Destiny2Class-ammo', sans-serif;
    content: "⚔️";
    color: red;
}

/* Classe Solar */
.solar::before {
    font-family: 'Destiny2Symbols', sans-serif;
    content: "";
    color: var(--solar-color);
}

/* Classe Arc */
.arc::before {
    font-family: 'Destiny2Symbols', sans-serif;
    content: "";
    color: var(--arc-color);
}

/* Classe Stasis */
.stasis::before {
    font-family: 'Destiny2Symbols', sans-serif;
    content: "";
    color: var(--stasis-color);
}

/* Classe Strand */
.strand::before {
    font-family: 'Destiny2Symbols', sans-serif;
    content: "";
    color: var(--strand-color);
}

/* Classe Barrier */
.barrier::before {
    font-family: 'Destiny2Symbols', sans-serif;
    content: "️";
    color: var(--mod-fg-color);
}

/* Classe Unstoppable */
.unstoppable::before {
    font-family: 'Destiny2Symbols', sans-serif;
    content: "";
    color: var(--mod-fg-color);
}

/* Classe Overload */
.overload::before {
    font-family: 'Destiny2Symbols', sans-serif;
    content: "";
    color: var(--mod-fg-color);
}

/* Classe Hunter */
.hunter::before {
    font-family: 'Destiny2Class-ammo', sans-serif;
    content: "\0041";
    color: black;
}

/* Classe Titan */
.titan::before {
    font-family: 'Destiny2Class-ammo', sans-serif;
    content: "\0042";
    color: black;
}

/* Classe Warlock */
.warlock::before {
    font-family: 'Destiny2Class-ammo', sans-serif;
    content: "\0043";
    color: black;
}

/* Classe Bold */
.bold {
    font-weight: bold;
}


/* Classe Title */
.title {
    font-weight: bold;
}

/* Classe Enhanced Arrow */
.enhancedArrow {
    color: var(--exotic-label-color);
}

/* Classe Green */
.green {
    color: var(--special-color);
}

/* yellow Green */
.yellow {
    color: var(--exotic-label-color);
}